.artikel-judul{
    margin-top: 105px;
    font-size: 30px;
    gap: 1rem;
    padding-left: 40px;

}

.biodata p{
    font-size: 15px;
}

.gambar-artikel{
    margin-bottom: none;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 190px;
}
.narasi-description{
    text-transform: none;
    line-height: 20px;
    font-size: 18px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}